.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
.github {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.git {
    color: #000;
    transition: 0.5s;
}

.rss_logo {
    width: 135px;
    height: 50px;
    background-image: url(../../assets/img/rss.svg);
    background-size: contain;
    filter: invert(100%);
    transition: 0.5s;
}