.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 17px;
    column-gap: 12px;
}
.shop-card {
    border: solid 2px;
    border-radius: 5px;
    width: 255px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: .5s;
}
.active-card {
    background-color: bisque;
}
.product {
   margin: 5px;
}
.product-name {
    text-align: center;
    pointer-events: none;
}
.product-image {
    width: 100%;
    height: 125px;
    border-radius: 10px;
    pointer-events: none;
}
.product-image_wrapper{
    background-image: url(../../../assets/img/23.gif);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    pointer-events: none;
    width: calc(100% - 10px);
    height: 125px;
    border-radius: 10px;
}
.product-price {
    pointer-events: none;
}
.product-amount {
    pointer-events: none;
}
.product-spikes {
    pointer-events: none;
}
.product-color {
    pointer-events: none;
}
.product-popular {
    pointer-events: none;
}
@media screen and (max-width: 1080px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .shop-card {
        width: 245px;
    }
}
