.search-container{
    position: relative;
    width: 100%;
}
.search{
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    background-image: url(../../../assets/img/search.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 2px);
    padding: 5px;
}
.searching{
    padding-bottom: 10px;
}
.cross-search{
    background-image: url(../../../assets/img/cross.svg);
    position: absolute;
    background-size: 16px;
    width: 16px;
    height: 16px;
    right: 5px;
    top: 5px;
    display: none;
}